<!DOCTYPE html>
<html lang="en">
<head>
  <style>
  body {
    background-image: url("water.jpg");
  }
  </style>
  <title>Automated Rating For Kids Book</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="btn btn-danger navbar-btn" href="#">AHMA</a>
          </div>
          <ul class="nav navbar-nav">
            <li class="active"><a href="">Home</a></li>
            <li><a href="aboutUs">About Us</a></li>
            <li><a href="ContactUs">Contact Us</a></li>

          </ul>
        </div>
      </nav>
        
    



<div class="container">
  <div class="jumbotron">
    <h1>Automated Rating For Kids Book</h1>      
   
  </div>
  <form class="btn btn-primary center-block">
        
        <div class="form-group mx-sm-3 mb-2">
          <label for="inputbook" class="sr-only">book</label>
          <input type="file" class="form-control" id="inputbook2" placeholder="Insert your Book">
        </div>
        <button type="submit" class="btn btn-primary mb-2">Upload</button>
      </form>

        </div>
</div>



      


</body>
</html>
