<!DOCTYPE html>
<html lang="en">
<head>
        <style>
                body {
                  background-image: url("water.jpg");
                }
                </style>
  <title>Automated Rating For Kids Book</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  <script src="{% static 'js/jquery.min.js' %}"></script>
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
</head>
<body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="btn btn-danger navbar-btn" href="#">AHMA</a>
          </div>
          <ul class="nav navbar-nav">
            <li><a href="..">Home</a></li>
            <li><a href="../search">Search</a></li>
            <li class="active"><a href="">About Us</a></li>
            <li><a href="../contactUs">Contact Us</a></li>

          </ul>
        </div>
      </nav>
      <ul style="list-style: none;">
      <li class="col-12 col-md-6 col-lg-3">
          <div class="cnt-block equal-hight" style="height: 349px;">
            <figure><img src="https://scontent.fist2-3.fna.fbcdn.net/v/t1.0-9/11223901_732873250157665_7585116881329738676_n.jpg?_nc_cat=101&_nc_ht=scontent.fist2-3.fna&oh=aec729bfd16bf9799f6c1a203ce35583&oe=5CD3E64D" class="img-responsive" alt=""></figure>
            <h3><a href="#">Abdaljalil Jarjnaze</a></h3>
            <p class="text-danger">Hacettepe University Computer engineering, Ankara</p>
            <ul class="follow-us clearfix">
              <li><a href="#">Abodeisabode@hotmail.com<i class="fa fa-facebook" aria-hidden="true"></i></a></li>
              <li><a href="#">21501041<i class="fa fa-twitter" aria-hidden="true"></i></a></li>
              
            </ul>
          </div>
      </li>
      <li class="col-12 col-md-6 col-lg-3">
          <div class="cnt-block equal-hight" style="height: 349px;">
            <figure><img src="https://scontent.fist2-4.fna.fbcdn.net/v/t1.0-9/29067124_2076529349249376_596255485751496624_n.jpg?_nc_cat=107&_nc_ht=scontent.fist2-4.fna&oh=1828ac08482200265d92f064499362ea&oe=5C8E0A0B" class="img-responsive" alt=""></figure>
            <h2><a href="#">Abdullah Agha</a></h2>
            <p class="text-danger">Hacettepe University Computer engineering, Ankara</p>
            <ul class="follow-us clearfix">
              <li><a href="#">Abdullahagha95@gmail.com<i class="Email" aria-hidden="true"></i></a></li>
              <li><a href="#">21305877<i class="fa fa-twitter" aria-hidden="true"></i></a></li>
              
            </ul>
          </div>
      </li>
      <li class="col-12 col-md-6 col-lg-3">
          <div class="cnt-block equal-hight" style="height: 349px;">
            <figure><img src="https://scontent.fist2-4.fna.fbcdn.net/v/t1.0-9/36436164_1184703818338130_5429383946896932864_n.jpg?_nc_cat=109&_nc_ht=scontent.fist2-4.fna&oh=bc8a05f26fae92482b169b2fac4fff96&oe=5CCD4890" class="img-responsive" alt=""></figure>
            <h3><a href="#">M.Malek baba</a></h3>
            <p class="text-danger">Hacettepe University Computer engineering, Ankara</p>
            <ul class="follow-us clearfix">
              <li><a href="#">malekozel97@gmail.com<i class="fa fa-facebook" aria-hidden="true"></i></a></li>
              <li><a href="#">21403447<i class="fa fa-twitter" aria-hidden="true"></i></a></li>
              
            </ul>
          </div>
       </li>
      <li class="col-12 col-md-6 col-lg-3">
          <div class="cnt-block equal-hight" style="height: 349px;">
            <figure><img src="https://scontent.fist2-3.fna.fbcdn.net/v/t1.0-9/34036319_2072178183040518_5869466800218963968_n.jpg?_nc_cat=108&_nc_ht=scontent.fist2-3.fna&oh=fd631ccdc627b4e8553958a5adf0912d&oe=5CBFF383" class="img-responsive" alt=""></figure>
            <h3><a href="#">Hazem Alabiad </a></h3>
            <p class="text-danger">Hacettepe University Computer engineering, Ankara</p>
            <ul class="follow-us clearfix">
              <li><a href="#">hazem.alabiad@hotmail.com<i class="fa fa-facebook" aria-hidden="true"></i></a></li>
              <li><a href="#">21403802<i class="fa fa-twitter" aria-hidden="true"></i></a></li>
              
            </ul>
          </div>
      </li>
    </ul>
</body>
</html>
