.i2w-tags-div{
       display:block;
	padding:1px 3px;
	font-family:Tahoma, Geneva, sans-serif;
	font-size:11px;
       font-weight: bold;
	text-align:justify;
       width: auto;
       height: auto;
/*       background-color: #DCEFDD ;*/
       position: relative;
       overflow: hidden;

	
       background-image: url('//tags.i2w.biz/TAGS-BG.png');
}
.i2w-tags-div a:link,.i2w-tags-div a:visited{
	padding:2px 4px;
       margin:0px;
       margin-right: 1px;
       margin-bottom: 1px;
       display:inline-block;
       line-height: 8px;
       text-decoration: none;
       border:0px #E9E9E9 solid;
       position:relative;
       float:right;
       overflow: hidden;
	max-width:125px;
	min-width:45px;
       height: 12px;
       clear:none;
       text-align: center;

}
.i2w-tags-div a:hover,.i2w-tags-div a:active{
       text-decoration: underline;
       background-color: #F4F4F4;
       color: #000000;

}

.C_1{

}
.C_2:link,.C_2:visited{
       background-color: #FF6666;
       color: #FFFFFF;
}
.C_3:link,.C_3:visited{
       background-color: #990099;
       color: #FFFFFF;
}
.C_4:link,.C_4:visited{
       background-color: #0099CC;
       color: #FFFFFF;
}
.C_5:link,.C_5:visited{
       background-color: #E41B8A;
       color: #FFFFFF;
}
.C_6:link,.C_6:visited{
       background-color: #7C7E29;
       color: #FFFFFF;
}
.C_7:link,.C_7:visited{
       background-color: #006666;
       color: #FFFFFF;
}
.C_8:link,.C_8:visited{
       background-color: #FFFFFF;
       color: #FF0066;
}
.C_9:link,.C_9:visited{
       background-color: #CC33FF;
       color: #FFFFFF;
}
.C_10:link,.C_10:visited{
       background-color: #5E397D;
       color: #FFFFFF;
}
.C_11:link,.C_11:visited{
       background-color: #66CC00;
       color: #FFFFFF;
}
.C_12:link,.C_12:visited{
       background-color: #6666FF;
       color: #FFFFFF;
}
.C_13:link,.C_13:visited{
       background-color: #CC3366;
       color: #FFFFFF;
}
.C_14:link,.C_14:visited{
       background-color: #669900;
       color: #FFFFFF;
}
.C_15:link,.C_15:visited{
       background-color: #CC66CC;
       color: #FFFFFF;
}
.C_16:link,.C_16:visited{
       background-color: #FFFFFF;
       color: #009933;
}
.C_17:link,.C_17:visited{
       background-color: #FFFFFF;
       color: #0066FF;
}
.C_18:link,.C_18:visited{
       background-color: #FFFFFF;
       color: #FF6600;
}